meta charset='utf-8'

- user_scalable = local_assigns[:scalable] == :skip ? :no : :yes
meta name='viewport' content="user-scalable=#{user_scalable}, width=device-width, initial-scale=1"

- if content_for?(:keywords)
  meta name='keywords' content=content_for(:keywords)

- if content_for?(:description)
  meta name='description' content=content_for(:description)

== csrf_meta_tags.to_s.delete("\n")
