# Operating System
.DS_Store

# Caches
.sass-cache
.bundle
.yardoc
/tags
/node_modules
/spec/status.txt

# Sprockets
/public/assets
/public/assets-test

# Webpacker
/public/packs
/public/packs-test

# Logfiles, but keep the directory
/log/*
!/log/.gitkeep
/yarn-error.log

# Temporary files, but keep the directory
*.pid.lock
/tmp/*
!/tmp/.gitkeep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# Private files
/.env*.local

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# Documentation
/coverage
/doc/*
