<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

  <!-- Don't warn when quitting iTerm, this can prevent a reboot -->
	<key>PromptOnQuit</key>
	<false/>
	<key>OnlyWhenMoreTabs</key>
	<false/>

  <!-- And don't warn about changed preferences -->
	<key>NoSyncNeverRemindPrefsChangesLostForFile</key>
	<false/>

</dict>
</plist>
